@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div>
        <a class="btn btn-primary" asp-controller="Car" asp-action="Index">Car list</a>
    </div>
    <div>
        <a class="btn btn-primary" asp-controller="DateTest" asp-action="Index">DateTest list</a>
    </div>
    <div>
        <a class="btn btn-primary" asp-controller="Attachment" asp-action="Index">Add attachment</a>
    </div>
</div>