
@model DapperTesting.DTOs.AttachmentDTO

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div style="margin: 35px">

    <h2>UploadFile</h2>

    <partial name="_AddAttachment" for="@Model" />
    <a class="btn btn-primary" id="modal1" onclick="openModal();">Modal</a>

</div>


@section Scripts{
    <script>
        function openModal() {
            $('#myModal').modal('show');
        }
        function adAtt(e) {
            $.ajax({
                url: '/Attachment/AddAttachment',
                type: 'POST',
                data: $('#addForm').serialize(),   //your form name.it takes all the values of model               
                dataType: 'json'
            })
        }
    </script>
}